@import "tailwindcss";

@theme {
  --color-background: #030303;
  --color-nodebg: #232326;
  --color-input: #fafaff;
  --color-placeholder: #7f7f86;
  --color-inputfocus: #454545;
  --color-nodebg-focus: #343436;
}

@layer base {
  * {
    @apply box-border;
  }
}
